.container {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    width: 96px;
    height: 96px;
    line-height: 96px;
    border-radius: 50%;
    background: red;
    position: relative;
    text-align: center;
    font-weight: bold;
    transition: 0.24s 0.2s;
    border: 1px solid black;
}

.navbar .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: -48px;
    left: -48px;
    border: 96px solid transparent;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 1.4s 0.07s;
    z-index: -1;
}

li {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    position: absolute;
    top: -24px;
    left: -24px;
}


.navbar:hover .menu {
    transition: transform 0.4s 0.08s, z-index 0s 0.5s;
    transform: scale(1);
}

.navbar:hover .menu li {
    transition: all 0.7s;
}

.navbar:hover .menu li:nth-child(1) {
    transition-delay: 0.2s;
    transform: translate(0, -94px)
}

.navbar:hover .menu li:nth-child(2) {
    transition-delay: 0.3s;
    transform: translate(72px, -72px)
}

.navbar:hover .menu li:nth-child(3) {
    transition-delay: 0.4s;
    transform: translate(94px, 0)
}
