@font-face {
    font-family: 'verizon';
    src: url('./fonts/VerizonNHGeDS-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'verizon';
    src: url('./fonts/VerizonNHGeDS-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

*{
    font-family: 'verizon';
}